// Idea from https://codepen.io/sivan/pen/alKwf

.profile-reg__section {
    width: 80%;
    min-width: 320px;
    margin: 100px auto;
    text-align: center;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.1);
    color: #fff;
}
.profile-reg__header {
    margin: 0 0 0.5em;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
}
.profile-reg__form {
    max-width: 420px;
    margin: 0 auto 20px;
}
.profile-reg__input-block {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    &:first-child .profile-reg__input {
        border-radius: 4px 4px 0 0;
    }
    &:last-child .profile-reg__input {
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    }
    & + &_block {
        border-top: 1px solid #ddd;
    }
}
.profile-reg__input {
    display: block;
    width: 100%;
    height: 3em;
    padding: 16px 8px;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    background: rgba(255, 255, 255, 0.97);
    color: #212121;
    outline: 0;
    appearance: none;
    transition: all 0.2s ease-in-out;

    // Animation on <label>
    &:focus {
        outline: 0;
        background: rgba(255, 255, 255, 1);
    }
    &[data-empty="false"],
    &:valid,
    &:focus {
        padding: 22px 8px 10px;
    }
    &[data-empty="false"] + .profile-reg__label,
    &:valid + .profile-reg__label, // todo: UI bug if value is invalid
    &:focus + .profile-reg__label {
        color: #5856d6;
        font-weight: 700;
        font-size: 12px;
        transform: translate3d(0, -10px, 0);
    }
}
.profile-reg__label {
    position: absolute;
    top: 15px;
    left: 8px;
    color: #909090;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease-in-out;
}
.profile-reg__code {
    max-width: 420px;
    margin: 0 auto 20px;
    border-radius: 4px 4px 4px 4px;
    text-align: left;
    display: block;
    width: 100%;
    padding: 16px 8px;
    font-size: 16px;
    font-weight: 400;
    font-family: monospace;
    line-height: 1;
    background: rgba(255, 255, 255, 0.97);
    color: #909090;
}
