// Idea from https://codepen.io/sivan/pen/alKwf

// Common Style
*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    background: url("http://f.ggssh.com/label-bg.jpg") 50% 50%;
    background-size: cover;
    color: #212121;
}
